  body {
    background-color: #04b3c1;
    font-family: sans-serif;
    display: flex;
  }

  #staircase {
    max-width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: right;
    background-repeat: no-repeat;
    border-right: 1px solid #000;
    /*position: absolute;*/
  }

  #survey {
  }

  h1 {
    font-family: "Chivo", sans-serif;
  }

  #description {
    font-family: ;
    font-style: italic;
  }
