  body {
    background-image: linear-gradient(to bottom right, #1f949e,#04b3c1, #fff);
    font-family: "Roboto Mono", sans-serif;
    display: grid;
    /*grid-template-areas:
    "header header header"
    "advert content content"
    "footer footer footer";*/
  }

  fieldset {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 0em;
    padding-inline-start: 0em;
    padding-inline-end: 0em;
    padding-block-end: 0em;
    min-inline-size: 0%;
    border: 0;
  }

  #greet, #intro {
    display: grid;
    grid-area: header;
    /*flex-wrap: wrap;*/
    border-bottom: 1px solid #000;
  }

  img {
    max-width: 100%;
    height: auto;
    /*display: inline-block;
    position: fixed;
    overflow: hidden;
    order: -1;*/
  }

  #staircase {
    /*display: flex;
    flex-direction: row;*/
  }

  form {
    display: grid;
    grid-area: content;
    /*flex-direction: column;
    border-left: 1px solid #000;*/
  }