  body {
    background-color: #04b3c1;
    font-family: "chivo", sans-serif;
    font-weight: 400;
    display: flex;
  }

  #staircase {
    max-width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: right;
    background-repeat: no-repeat;
    border-right: 1px solid #000;
    /*position: absolute;*/
  }

  #survey {
  }

  h1 {
    font-family: "archivo black", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: ;
  }

  #description {
    font-family: ;
    font-style: italic;
  }
